
---
layout: ""
page_title: "Provider: IdentityNow"
description: |-
  The IdentityNow provider provides the resources to interact with SailPoint IdentityNow platform.
---

# IdentityNow Provider

The IdentityNow provider provides the resources to interact with Elastic stack products.

The provider uses Terraform [protocol version 6](https://developer.hashicorp.com/terraform/plugin/terraform-plugin-protocol#protocol-version-6) that is compatible with Terraform CLI version 1.0 and later.

## Authentication

[IdentityNow Authentication Personal Access Tokens](https://developer.sailpoint.com/docs/api/authentication/#generate-a-personal-access-token)

### Environment Variables

The provider can leverage the [SailPoint CLI](https://github.com/sailpoint-oss/sailpoint-cli) Environment Variables.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
